#mctop{
    background-image: url(/image/minecraft/view6x.webp);
    background-size: cover;
    background-position-y: 80%;
    h1{
        max-width: 1400px;
        font-size: 6rem;
        @media screen and (max-width:600px) {
            font-size: 5rem;
        }
        @media screen and (max-width:480px) {
            font-size: 4rem;
        }
        @media screen and (max-width:380px) {
            font-size: 3.5rem;
        }
        @media screen and (max-width:330px) {
            font-size: 2.5rem;
        }
        color: #f1f1f1ca;
        margin: 0 auto;
        font-family: "Pattaya", sans-serif;
    }

    .wrapper{
        background-color: #05050575;
        padding: 3rem 0;
    }
}
.ap-enter-active , .ap-leave-active{
transition: all 1s 0.6s;
}
.ap-enter {
 opacity: 0;
}
section{
    h2{
        max-width:1400px;
        margin: 0 auto;
        padding-left: 1vw;
        color: #f1f1f1cc;
        font-size: 10vw;
        font-family: 'Chakra Petch', sans-serif;
        border-left: solid 3vw rgb(243, 221, 23);
    }
    @media  screen and (min-width:800px) {
        h2{
            font-size: 6vw;
        }
    }
    @media  screen and (min-width:1024px) {
        h2{
            font-size: 5vw;
            border-left: solid 2.5rem rgb(243, 221, 23);
        }
    }
    @media  screen and (min-width:1400px) {
        h2{
            font-size: 4.5rem
        }
    }
    color: #f1f1f1;
    background-color: rgb(37, 18, 31);
    #intro, #profile, #cascu{
        overflow-x: hidden;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #1118;
        margin-bottom: 1rem;
        
        font-family: "Shippori Mincho" , serif;
        .ikk124{
            overflow-x: hidden;
            width: 90%;
            max-width: 1400px;
            margin: 0 auto;
            padding:0.6rem 0;
            padding-left: 1rem;
            border-left: solid 10px #cd5c5c;
            background-color: #05050577;
            display: grid;
            grid-template-columns: 1fr 0.1fr;
            p{
                width:100%;
                max-width:auto;
            }
            .lr{
                writing-mode: vertical-rl;
                color: #f1f1f199;

            }
            .btn{
                grid-column: 1/3;
                display: flex;
                justify-content: center;
                a{
                    color: #f1f1f1;
                    span{
                        font-size: 0.85rem;
                        margin: 0 2vw ;
                        padding: 0.25rem 0.6rem;
                        border-radius: 0.75rem;
                        border: solid 2px #f1f1f1;
                        transition: 0.4s;
                        user-select: none;
                        &:hover{
                            border: solid 2px #330f0f;
                            background-color: #cd5c5c;
                        }
                    }
                }
            }
        }
        p{
            width: 90%;
            max-width: 1400px;
            margin: 0 auto;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-right: 2.5rem;
            a{
                text-decoration: none;
                color: rgb(243, 221, 23);
            }
        }
        #ikk125, #ikk126{
            display: flex;
            justify-content: center;
        }
        img.ikk125{
            height: 300px;
            image-rendering: pixelated;
        }
    }
    .catw{
        background-color: #050505;
    }
    .cat{
        
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .view{

        width: 240px;
        height: 240px;
        margin: 5px;
        background-color: #f1f1f1;
        }
        .bigview{
            width: 490px;
            height: 240px;
            margin: 5px;
            background-color: #f1f1f1;
            background-size: cover;

        }
        a{
            display: block;
            width: 90%;
            height: 250px;
            margin: 5px;
            transition: 0.5s;
            .sm{
                transition: 0.5s;
                height: 100%;
                width: 100%;
                background-size: cover;
                overflow: hidden;
                .desc{
                    transition: 0.5s;
                    margin-top: 1rem;
                        padding: 0.6rem;
                        padding-left: 1rem;
                        padding-right: 6rem;
                    background-color: rgb(243, 221, 23);
                    //border-bottom: solid 10px #cc4c35;
                    color: #111;
                    
                    display: block;
                        display: inline-block;
                    p{
                        font-family: 'Chakra Petch', sans-serif;
                        user-select: none;
                    }
                    
                }
                &:hover{
                    opacity: 0.8;
                    .desc{
                        transform: none;
                    }
                }
            }
        }
        @media screen and (min-width:1024px) {
            a{
                width: 45%;
            }
        }
        @media screen and (max-width:860px) {
            .desc{
                font-size: 2rem;
                transform: none;
                    padding-left: 0.6rem !important;
                    padding-right: 4rem !important;
            }
            
        }
        @media  screen and (min-width:860px) {
            .desc{
                    transform: translateX(-100%);
                    font-size: 2.35rem;
            }
            
        }
        .smbg1{
            background-image: url(/image/minecraft/view2u.webp);
            &:hover{
                background-position-y: 50%;
            }
        }
        .smbg2{
            background-image: url(/image/minecraft/view3.webp);
            &:hover{
                background-position-y: 70%;
            }
        }
        .smbg3{
            background-image: url(/image/minecraft/view5.webp);
            &:hover{
                background-position-y: 40%;
            }
        }
        .smbg4{
            background-image: url(/image/minecraft/view6.webp);
            &:hover{
                background-position-y: 80%;
            }
        }
        .bg1{
            background-image: url(/image/minecraft/view1.webp);
        }
    }
}
.nxl{
    text-decoration: none;
    color: #f1f1f1;
}
#rtmcat{
    width: 90%;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .rtc1{
        position: relative;
        box-sizing: border-box;
        background-size: cover;
        &::before{
            content: '';
            display: block;
            padding-top: 100%;
        }
        .rtc2{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #05050575;
            text-align: center;
            display: flex;
            align-items: center;
            
            p{
                padding:0;
                font-size: 3vw;
                text-shadow: 0 0 25px #050505, 0 0 15px #050505;
            }
            @media  screen and (min-width:1600px) {
                p{
                    font-size: 3rem;
                }
                
            }
        }
        margin: 5px;
    }
    .rtcbg1{
        background-image: url("/image/minecraft/RTM/rtm1.webp");
    }
    .rtcbg2{
        background-image: url("/image/minecraft/RTM/rtm2.webp");
    }
    .rtcbg3{
        background-image: url("/image/minecraft/RTM/rtm3.webp");
    }
}

//transtion


.mcap1-enter-active , .mcap1-leave-active{
    transition: all 1s;
    transform: (translateX(0px) rotateX(0deg));
    overflow-x: hidden;
    }
    .mcap1-enter {
    transition: all 1s;
     transform: (translateX(350px) rotateX(90deg));
    }
    @for $i from 1 through 15 {
        .mcap1-enter-active *:nth-child(#{$i}),
        .mcap1-leave-active *:nth-child(#{$i}),
        .mcap1-enter *:nth-child(#{$i}){ 
            transition: transform 1s 0.15s * $i ; 
        }
        
    }